! vim: set filetype=xdefaults nomodeline:

URxvt.scrollBar: false

URxvt.font: xft:UW Ttyp0:pixelsize=15
URxvt.italicFont: xft:UW Ttyp0:pixelsize=15
URxvt.boldFont: xft:UW Ttyp0:bold:pixelsize=15

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.iso14755 : false

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

#include ".config/xresource_colorschemes/horizon"
